<!DOCTYPE html>
<html>
  <head>
    <script src="js/home.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/home.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Chelsea+Market&family=Roboto:wght@700&display=swap" rel="stylesheet"> 
    <script
      src="https://kit.fontawesome.com/c5b9bcd338.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section id="home">
      <div id="header">
        <ul class="navbar"></ul>
        <span style="font-size: 30px; cursor: pointer;" ><i class="fas fa-calendar-alt"></i> Events Extraordinaire..
          
          
            <li class="nav" ><a class="nava" href="#invite">Dashboard</a></li>
            <li class="nav" ><a class="nava" href="#hostanevent">Host an event</a></li>
            <li class="nav" ><a class="nava" href="#Dashboard">Invites</a></li>
            <li class="nav" ><a class="nava" href="/logout"><i class="fas fa-sign-out-alt"></a></i></li>
          </ul></span>
        </div>
    </br></br>
      <h1 class="greeting">Hi, <%= user.username %></h1>
    </section>
  </br>
    <section id="Dashboard">
      <div>
        </br>
      <h2 class="greeting">Invites</h2>
      <ul>
      <% for (var i = 0; i < events.length; i++) { %>
        <li class="invites"><a href="<%= '/invite/' + events[i]._id %>" > <%= events[i].title %> </a>
        </li>
    <% } %>
      </ul>
      <h1 align="center">Private Invites</h1>
      <ul>
        <% for (var i = 0; i < user.pvtevents.length; i++) { %>
          <li class="invites"><a href="<%= '/pvtinvite/' + user.pvtevents[i]._id %>" > <%= user.pvtevents[i].title %> </a>
          </li>
      <% } %>
        </ul>
      </div>
    </section>
  </br>
  <section id="hostanevent">
    <br>
    <br>

    <div class='wrapper'>
      <form id="invitationpub" action="/newinvite" method="POST">
        <h2 style="padding:10px">Invitation Type</h2>

        <button type="button" onclick="public()">
          Public
        </button>
        <button type="button" onclick="private()">
          Private
        </button>
        
        <input class="form" type="text" name="title" placeholder="Title" />
      </br>
      <label style="font: weight 800px;">Font:</label>

        <input class="" type="radio" name="font" value="bangers">
        <label for="bangers" style="font-family: Bangers, cursive;" >Bangers</label>
        <input class="" type="radio" name="font" value="chelsea">
        <label style="font-family: 'Chelsea Market', cursive;" for="chelsea">Chelsea</label>
        <input class="" type="radio" name="font" value="roboto">
        <label style="font-family: 'Roboto', sans-serif;" for="roboto">Roboto</label> </br>
        <label for="blue">Background color :</label>
        <input class="" type="color" name="bgcolor" value="blue"></br>
        <input class="form" type="text" name="location" placeholder="Location" />
        <input class="form" type="date" name="startDate" placeholder="Start Date" />
        <input class="form" type="date" name="endDate" placeholder="End Date" />
        <textarea name="content" class="content" placeholder="content"></textarea>
        <textarea name="footer" placeholder="Footer"></textarea></br>
        <label for="deadline">Deadline</label><br>
        <input class="form" type="date" name="deadline" placeholder="End Date" /><br>
        <button>
          Host it!
        </button>
      </form>
    </div>
    <div class="wrapper">
    <form id="invitationpvt" action="/newpvtinvite" method="POST">
      <h2 style="padding:10px">Invitation Type</h2>

        <button type="button" onclick='public()'>
          Public
        </button>
        <button type="button" onclick='private()'>
          Private
        </button>

        <input class="form" type="text" name="recepients" placeholder="Recepients(Seperated by Space)" />
        <input class="form" type="text" name="title" placeholder="Title" />
      </br>
      <label style="font: weight 800px;">Font:</label>

        <input class="" type="radio" name="font" value="bangers">
        <label for="bangers" style="font-family: Bangers, cursive;" >Bangers</label>
        <input class="" type="radio" name="font" value="chelsea">
        <label style="font-family: 'Chelsea Market', cursive;" for="chelsea">Chelsea</label>
        <input class="" type="radio" name="font" value="roboto">
        <label style="font-family: 'Roboto', sans-serif;" for="roboto">Roboto</label> </br>
        <label for="blue">Background color :</label>
        <input class="" type="color" name="bgcolor" value="blue"></br>
        <input class="form" type="text" name="location" placeholder="Location" />
        <input class="form" type="date" name="startDate" placeholder="Start Date" />
        <input class="form" type="date" name="endDate" placeholder="End Date" />
        <textarea name="content" class="content" placeholder="content"></textarea>
        <textarea name="footer" placeholder="Footer"></textarea></br>
        <label for="deadline">Deadline</label><br>
        <input class="form" type="date" name="deadline" placeholder="End Date" /><br>
        <button>
          Host it!
        </button>
    </form>
  </div>
  

  </section>
  </br>
    <section id="invite">
    </br>
      <div class=nsopa>
        <ul>
        <h1>MY EVENTS</h1>
        <p>click me for details!</p>
      <% for (var i = 0; i < user.myevents.length; i++) { %>
        <li class="left"><a class=left href="/info/<%= user.myevents[i]._id %>/"><%= user.myevents[i].title %></a>&nbsp;&nbsp;<a href="/attendance/<%= user.myevents[i]._id %>/"><i class="fas fa-calendar-check"></i></a> &nbsp;<a class=right href="/cancel/<%= user.myevents[i]._id %>/"><i class="fas fa-window-close"></i></a></li>     
      <% } %>
    </ul>

        <ul>
        <% for (var i = 0; i < user.mypvtevents.length; i++) { %>
          <li class="left"><a class=left href="/infopvt/<%= user.mypvtevents[i]._id %>/"><%= user.mypvtevents[i].title %></a> &nbsp;&nbsp;<a href="/attendancepvt/<%= user.mypvtevents[i]._id %>/"><i class="fas fa-calendar-check"></i></a> &nbsp;</a><a class=right href="/cancelpvt/<%= user.mypvtevents[i]._id %>/"><i class="fas fa-window-close"></i></a></li>
        <% } %>
      </ul>
        </div>
        <div class="nsopa">
          
          <ul>
            <h1>ACCEPTED INVITES</h1>
        <% for( let i = 0; i < user.ainvites.length; i++ ) { %>
          <li class="invites" ><%= user.ainvites[i].title %></li>
        <% } %>
          </ul>
        </div>
        <div class="nsopa">
          <ul>
            <h1>ACCEPTED PRIVATE INVITES</h1>
        <% for( let i = 0; i < user.apinvites.length; i++ ) { %>
          <li class="invites" ><%= user.apinvites[i].title %></li>
        <% } %>
          </ul>
        </div>
    </section>
  </body>
</html>
<script>
  var pubform = document.getElementById('invitationpub')
  var pvtform = document.getElementById('invitationpvt')
  function public() {
    pubform.style.display = 'block'
    pvtform.style.display = 'none'
  }
  function private() {
    pubform.style.display = 'none'
    pvtform.style.display = 'block'
  }

</script>