<!DOCTYPE HTML>
<html>
	<head>
		<title><%= event.title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/invite.css" />
		<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Chelsea+Market&family=Roboto:wght@700&display=swap" rel="stylesheet"> 
 
	</head>
	<% if (event.font == "roboto") { %>
		<body style="font-family:Roboto, sans-serif; background: <%= event.bgcolor %>;">
	<% } %>
	<% if (event.font == "bangers") { %>
		<body style="font-family:Bangers, cursive; background: <%= event.bgcolor %>;">
	<% } %>
	<% if (event.font == "chelsea") { %>
		<body style="font-family:Chelsea Market, cursive; background: <%= event.bgcolor %>;">
	<% } %>

				<!-- One -->
					<section id="one" class="wrapper style1">
                    <div>
						<header class="special">
							<h1><%= event.title %></h1>
						</header></br>
						<img src="data:image/jpeg;base64, 
						<%=event.img.toString('base64')%>">
						<div class="content">
                            <p><%= event.content %></p>
                            <p>the event starts on <%= String(event.startDate).slice(0,16) %> and ends on <%= String(event.endDate).slice(0,16) %> </p>
                            <p>The event is held at <%= event.location %></p>
                        </div>
                    </div>
                    <div style="text-align: center;">
						<div style="text-align: center;">
							<form method="POST" action="/acceptpvt/<%= event._id %>">
								<label style='color:white;' for="coattendees">No.of people coming with you</label><br><input type="text" name="coattendees"></br>
								<input class="" type="radio" name="pref" value="veg">
								<label style='color:white;' for="bangers" >Veg</label>
								<input class="" type="radio" name="pref" value="non-Veg">
								<label style='color:white;' for="Non-Veg">Non-Veg</label><br>
								
								<button>Accept</button>
							</form>
							<br>
                    <a href="/home"><button>Reject</button></a>
                    </div>
					</section>
 
				
						
	</body>
</html>